<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="battle-cities-notifications" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/battlecities_notification" />
        <service android:name="com.battlecities.notifications.BattleCitiesMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.battlecities.notifications.NotificationTapActivity" android:exported="false" android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name="com.battlecities.notifications.NotificationPermissionActivity" android:exported="false" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:excludeFromRecents="true" />
    </application>
</manifest>
